.wrapper{
    margin: 5px;
}

h1{
    text-align: center;
}

.example1{
    height: 200px;
    width: 50%;
    background-color: cornflowerblue;
}

.example2 img{
    width: 600px;
    height: 600px;
}